<div class=" m-5 rounded-lg ">
    <div>
        <h1 class="text-xl font-semibold  text-[#222222]">Proveedores Asociados</h1>
    </div>
    <div class="row m-0">
        <div class="col-3">

        </div>
    </div>
    <div class=" pt-5">

        <button routerLink="/home/add-suppliers"
            class="text-white rounded-lg font-medium border border-green_global hover:text-green_global hover:bg-white py-2 px-4 text-sm bg-green_global">
            AGREGAR
        </button>
    </div>
    
</div>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg lg:mx-5 max-h-[70vh] global-scroll">

    <table class="w-full text-sm text-left text-gray-500   ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50    ">
            <tr>

                <th scope="col" class="px-6 py-3">
                    Razón Social
                </th>
                <th scope="col" class="px-6 py-3">
                    RUC
                </th>
                <th scope="col" class="px-6 py-3">
                    Pago
                </th>
                <th scope="col" class="px-6 py-3">
                    Teléfono
                </th>
                <th scope="col" class="px-6 py-3">
                    Correo
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Suppliers" (click)="goToDetail(item)" class="bg-white cursor-pointer border-b  hover:bg-gray-50  ">
               
                <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap  ">
                    <img class="w-10 h-10 rounded-full" src="./assets/images/repaglas_1.png"
                        alt="Jese image">
                    <div class="pl-3">
                        <div class="text-base font-semibold">{{item.RazonSocial}}</div>
                        
                    </div>
                </th>
                <td class="px-6 py-4">
                    {{item.RUC}}
                </td>
                <td class="px-6 py-4">
                    {{item.TerminoDePago}}
                </td>
                
                <td class="px-6 py-4">
                    <!-- <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit user</a> -->
                    {{item.Telefono}}                    
                </td>
                <td class="px-6 py-4">
                    <!-- <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit user</a> -->
                    {{item.Email}}                    
                </td>
            </tr>
            
        </tbody>
    </table>
</div>

 