<div class="row m-0 p-2">
    <div class="col-lg-3 p-1">
        <div class="bg-white text-xs p-1">
            <div class="global-center-between">
                <span class="text-grey_dark_global">Solicitudes de Cotización</span>
                <svg class="h-5 w-5 text-grey_dark_global" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10" />
                    <line x1="12" y1="16" x2="12" y2="12" />
                    <line x1="12" y1="8" x2="12.01" y2="8" />
                </svg>
            </div>
            <h1 class="text-2xl font-bold">100</h1>
            <div class="global-center-start py-1">
                <span>WoW Change 12%</span>
                <svg class="h-4 w-4 text-green-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M18 15l-6-6l-6 6h12" />
                </svg>
            </div>
            <div class="global-center-start py-1">
                <span>DoD Change 11%</span>
                <svg class="h-4 w-4 text-red-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(180 12 12)" />
                </svg>

            </div>
            <hr>
            <div class="py-2">
                <span>Ventas Diarias <label class="font-semibold">S/1200</label></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 p-1">
        <div class="bg-white text-xs p-1">
            <div class="global-center-between">
                <span class="text-grey_dark_global">Solicitudes de Ventas</span>
                <svg class="h-5 w-5 text-grey_dark_global" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10" />
                    <line x1="12" y1="16" x2="12" y2="12" />
                    <line x1="12" y1="8" x2="12.01" y2="8" />
                </svg>
            </div>
            <h1 class="text-2xl font-bold">1500</h1>
            <div class="global-center-start py-1">
                <span>WoW Change 12%</span>
                <svg class="h-4 w-4 text-green-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M18 15l-6-6l-6 6h12" />
                </svg>
            </div>
            <div class="global-center-start py-1">
                <span>DoD Change 11%</span>
                <svg class="h-4 w-4 text-red-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(180 12 12)" />
                </svg>

            </div>
            <hr>
            <div class="py-2">
                <span>Ventas Diarias <label class="font-semibold">S/1200</label></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 p-1">
        <div class="bg-white text-xs p-1">
            <div class="global-center-between">
                <span class="text-grey_dark_global">Pagos</span>
                <svg class="h-5 w-5 text-grey_dark_global" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10" />
                    <line x1="12" y1="16" x2="12" y2="12" />
                    <line x1="12" y1="8" x2="12.01" y2="8" />
                </svg>
            </div>
            <h1 class="text-2xl font-bold">100</h1>
            <div class="global-center-start py-1">
                <span>WoW Change 12%</span>
                <svg class="h-4 w-4 text-green-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M18 15l-6-6l-6 6h12" />
                </svg>
            </div>
            <div class="global-center-start py-1">
                <span>DoD Change 11%</span>
                <svg class="h-4 w-4 text-red-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(180 12 12)" />
                </svg>

            </div>
            <hr>
            <div class="py-2">
                <span>Ventas Diarias <label class="font-semibold">S/1200</label></span>
            </div>
        </div>
    </div>
    <div class="col-lg-3 p-1">
        <div class="bg-white text-xs p-1">
            <div class="global-center-between">
                <span class="text-grey_dark_global"> Rendimiento </span>
                <svg class="h-5 w-5 text-grey_dark_global" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10" />
                    <line x1="12" y1="16" x2="12" y2="12" />
                    <line x1="12" y1="8" x2="12.01" y2="8" />
                </svg>
            </div>
            <h1 class="text-2xl font-bold">100</h1>
            <div class="global-center-start py-1">
                <span>WoW Change 12%</span>
                <svg class="h-4 w-4 text-green-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M18 15l-6-6l-6 6h12" />
                </svg>
            </div>
            <div class="global-center-start py-1">
                <span>DoD Change 11%</span>
                <svg class="h-4 w-4 text-red-500" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" />
                    <path d="M18 15l-6-6l-6 6h12" transform="rotate(180 12 12)" />
                </svg>

            </div>
            <hr>
            <div class="py-2">
                <span>Ventas Diarias <label class="font-semibold">S/1200</label></span>
            </div>
        </div>
    </div>
</div>

<div class="row m-0 p-2 ">
    <div class="col-12 global-center-start bg-white">
        <div (click)="changeTypeSolicitud('sales')"
            class="px-3 global-center font-normal cursor-pointer py-1 hover:text-green_global text-center leading-4 {{type_solicitud == 'sales' ? 'text-green_global' : ''}}">

            <!--  <div>
                <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                </svg>

            </div> -->
            <span>Ventas</span>
        </div>
        <div (click)="changeTypeSolicitud('market-rates')"
        class="px-3 global-center font-normal cursor-pointer py-1 hover:text-green_global text-center leading-4 {{type_solicitud == 'market-rates' ? 'text-green_global' : ''}}">
            <!-- <svg class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="8" r="7" />
                <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88" />
            </svg> -->
            <span>Cotizaciones</span>
        </div>
    </div>
    <div [ngSwitch]="type_solicitud" class="pt-1 bg-white">
        <div *ngSwitchCase='"sales"'>
            <div class="row m-0">
                <div class="col-lg-8">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend">
                    </canvas>
                </div>
                <div class="col-lg-4 ">
                    <div class="text-center"> 
                        <span class="font-semibold">Ranking de Ventas</span>
                    </div>
                    <div class="global-center">

                        <ul class="text-grey_dark_global">
                            <li *ngFor="let part of partSales">
                                {{ part.partName }} - Ventas: {{ part.sales }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div *ngSwitchCase='"market-rates"'>
            <div class="row m-0">
                <div class="col-lg-8">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend">
                    </canvas>
                </div>
                <div class="col-lg-4">
                    <div class="text-center"> 
                        <span class="font-semibold">Ranking de Cotizaciones</span>
                    </div>
                    <div class="global-center">

                        <ul class="text-grey_dark_global">
                            <li *ngFor="let part of quotes">
                                {{ part.customerName }} - Ventas: {{ part.total }}
                            </li>
                        </ul>
                    </div>
                   
                </div>
            </div>
        </div>

    </div>

</div>