<form [formGroup]="register" (ngSubmit)="registerProduct(register.value)" class="row m-0 py-5">
    <div class="col-md-4 py-1">
        <div class="min-h-[40vh]  bg-white rounded-lg hover:shadow-md  border">

            <div class="global-center-between p-2 border-b">
                <h1 class="font-semibold ">
                    Agregar Producto
                </h1>

            </div>

            <div class="row m-0 p-0">
                <div class="col-lg-12 m-0 my-1 2xl:my-2">
                    <label [class]="inputNormalLabel">SKU</label>
                    <input type="text" [class]="inputNormalIn" formControlName="sku" placeholder="No incluido" required>
                </div>
                <div class="col-lg-12 my-1 2xl:my-2">
                    <label [class]="inputNormalLabel">Descripción</label>
                    <input type="text" [class]="inputNormalIn" formControlName="description" placeholder="No incluido" required>
                </div>
                <div class="col-lg-12 my-1 2xl:my-2">
                    <label [class]="inputNormalLabel">Marca Original</label>
                    <input type="text" [class]="inputNormalIn" formControlName="brand" placeholder="No incluido"
                        required>
                </div>
                <div class="col-lg-12 my-1 2xl:my-2">
                    <label [class]="inputNormalLabel">Precio Original (USD)</label>
                    <input type="number" [class]="inputNormalIn" formControlName="price" placeholder="No incluido"
                        required>
                </div>
                


            </div>
            <div class="global-center py-2">

                <button type="submit"
                    class="text-white font-medium border border-green_global hover:text-green_global hover:bg-white py-2 px-4 text-sm bg-green_global">
                    GUARDAR
                </button>
            </div>

        </div>


    </div>
  
   
</form>